body {
	background-color: #fffefa;
}

.header {
	text-align: center;
	/*border:1px solid red;*/
}

.title {
	position: relative;
	bottom: 150px;
}

.twitter-title {
	font-size: 90px;
	font-style: italic;
	font-family: Georgia, Times, serif;
	font-weight: 600;
	color: #153c5d;
	margin-bottom: 0;
}

.searcher-title {
	font-size: 75px;
	font-style: italic;
	font-family: Georgia, Times, serif;
	font-weight: 600;
	color: #153c5d;
	line-height: 5%;
}

.icon {
	height: 130px;
	width: 130px;
	position: relative;
	top: 15px;
	right: 310px;
}

.instructions {
	position: relative;
	bottom: 110px;
}

.description {
	font-size: 15px;
	font-family: Helvetica, Arial, sans-serif;
	color: #b62a37;
	font-weight: 400;
	letter-spacing: 5px;
	word-spacing: 3px;
	line-height: 40%;
}

.searchBar {
	margin: auto;
  	left: 0px;
  	right: 0px;
  	bottom: 100px;
	width: 460px;
}

.searchButton{
	background-color: #c7ced5;
}

.buttonIcon {
	height: 25px;
	width: 25px;
}

.form-control::-webkit-input-placeholder{
	color: #153c5d;
	font-style: italic;
}