body {
	background-color: #fffefa;
}

.header {
	text-align: center;
	/*border:1px solid red;*/
}

.parent {
	position: relative;
	bottom: 150px;
}

.title1 {
	text-align: center;
	font-size: 90px;
	font-style: italic;
	font-family: "Georgia", Times, serif;
	font-weight: 600;
	color: #153c5d;
	margin-bottom: 0;
}

.title2 {
	font-size: 75px;
	font-style: italic;
	font-family: "Georgia", Times, serif;
	font-weight: 600;
	color: #153c5d;
	line-height: 5%;
}

.icon {
	height: 130px;
	width: 130px;
	position: relative;
	top: 15px;
	right: 310px;
}